/node_modules
/vagrant/.vagrant
/vagrant/ubuntu-xenial-16.04-cloudimg-console.log
/yarn-error.log
/example/web/*
/example/web/static/js/webpack.js
/yarn.lock
/package-lock.json
.vscode/launch.json
_testing
theme/static/js/webpack.js
