{{#extend "layout"}}
    {{#content "body"}}

        <h1>Tags</h1>

        {{#each tags}}
            <div>
                <a class="tag--weight{{weight}}" href="{{url}}.html">{{tag}}</a>
            </div>
        {{/each}}

    {{/content}}

    {{#content "footer"}}
        <a href="/archive/archive.html">All posts</a>
    {{/content}}    

{{/extend}}


