/*#############################################################################
BASE STYLE
#############################################################################*/
@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
    --color-white: #fcfcfc;
    --color-meteor: #C47211;
    --color-silver: #bababa;
    --color-mercury: #e9e9e9;
    --color-mineshaft: #212121;
    --color-black: #1f1f1f;
    --color-pomegranate: #eb5613;
    --verticalRhythm: 24px;
    --layoutWidth: 1024px;
    --headerHeight: 84px;
    --footerHeight: 100px;
    --margin: 8px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: var(--color-white);
    color: var(--color-black);
    height: 100%;
}

body {
    background-color: var(--color-mercury);
    font-family: 'Nunito', sans-serif;
    
    display: grid;
    margin: 0;
}

h1 {
    font-size: 32px;
}

h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}

ul, ol {
    padding-left: calc(var(--margin) * 2);
}

li {
    padding-top: calc(var(--verticalRhythm) / 2);
}

a {
    color: var(--color-pomegranate);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*#############################################################################
Archive
#############################################################################*/
.archive-item {
    padding-top: var(--verticalRhythm);
}

.archive-date{
    color: var(--color-silver);
}

/*#############################################################################
Header
#############################################################################*/
.header {
    background-color: var(--color-black);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--headerHeight);
    z-index: 1;
}

.header a {
    color: var(--color-white);
}

/* give header its fixed size */
.header-structure{
    height: var(--headerHeight);
}

.bodyScrollLock {
    overflow: hidden;
    height: 100%;
}

.header-logoTitleWrapper {
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}

.header-logo {
    display: inline-block;
}

.header-title {
    font-size: 36px;
    transform: translateY(-50%);
    display: inline-block;
    position: absolute;
    text-decoration: none;
    top: 50%;
    white-space: nowrap;
}

.header-menu {
    list-style: none;
    padding: 0;
}

.header-menuToggle {
    cursor: pointer;
    float: right;
    top: 26px;
    position: relative;
    padding-left: 22px;    
}

.header-menuItem {
    position: relative;
    white-space: nowrap;
    margin: 0;
    overflow-y: hidden;
    padding: 0;    
}

.header-menuItem.header-menuItem--small{
    display: none;
}

@media all and (max-width: 768px) {
    .header-menuItem.header-menuItem--small{
        display: block;
    }   
}

.header-menuItemLink {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 0 var(--margin);
}

.header-menuIcon {
    pointer-events: none;
    width: 32px;
    user-select: none;
}

.header-search {
    height: 34px;
}

.header-searchToggle {
    cursor: pointer;
    position: relative;
    top: 6px;
}

.header-searchToggleImg {
    width: 22px;
}

.header-searchBar {
    display: none;
    position: absolute;
    background-color: var(--color-mineshaft);
    top: var(--headerHeight);
    left: 0;
    right: 0;
    min-height: 48px;
    padding: var(--margin);
}

@media all and (min-width: 1296) {
    .header-searchBar {
        border-radius: 0 0 8px 8px;
    }
}

.header-searchBar.header-searchBar--visible {
    display: block;
}

.header-searchField {
    height: 34px;
    padding: 10px;
    width: calc(100% - 100px);
}

.header-seachBarRow{
    padding-bottom: var(--margin);
}

.header-searchResults {
    color: var(--color-white);
    padding: var(--margin);
    padding-top: 0;
}

.header-searchResults a {
    color: var(--color-pomegranate);
}

/* above small */
@media all and (min-width: 768px) {
    .header {
        vertical-align: middle;
    }

    .header-scaffold {
        text-align: right;
    }

    .header-menu {
        transform: translateY(-50%);
        display: inline-block;
        padding: 0;
        position: absolute;
        margin: 0;
        right: var(--margin);
        top: 50%;
    }

    .header-menuToggle {
        display: none;
    }

    .header-menuItem {
        display: inline-block;
        height: 100%;
        text-align: center;
        padding: 0 var(--margin);
    }

    .header-menuItemLink {
        height: 100%;
    }
}

/* below small */
@media all and (max-width: 767px) {
    .header a {
        text-decoration: none;
    }

    .header.header--open .header-menu {
        background-color: var(--color-silver);
        position: fixed;
        z-index: 1;
        max-height: none;
        top: var(--headerHeight);
        bottom: 0;
        left: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .header.header--open .header-menuToggleMenu .header-menuIcon {
        transform: rotate(90deg);
    }

    .header-logoTitleWrapper {
        left: 0;
    }

    .header-menu {
        max-height: 0;
        overflow: hidden;
    }

    .header-menuItem {
        height: 80px;
        border-top: 1px solid var(--color-white);
        position: relative;

    }

    .header-menuItemLink {
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        font-size: 30PX;
        font-weight: bold;
    }

    .header-menuItemSearch {
        display: none;
    }
}



/*#############################################################################
Index
#############################################################################*/
.index {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 33% 33% 33%;
}

.index-item {
    background: var(--color-silver);
    word-wrap: break-word;
    overflow: hidden;
    height: 300px;
    max-height: 300px;
}

.index-itemLink {
    color: var(--color-white);
    display: block;
    height: 100%;
    position: relative;
}

.index-itemHeader {
    color: var(--color-white);
    font-size: 30px;
}

.index-itemLink:hover {
    text-decoration: none;
}

.index-itemLinkContent {
    background: rgba(0,0,0, .6);
    padding: var(--margin);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.index-itemDate{
    font-size: 14px;    
}

.index-itemTags{
    font-size: 14px;
}

.index-itemHero {
    object-fit: cover;
    width: 100%;
    height: 100%;    
}

@media all and (max-width: 767px) {
    .index {
        grid-template-columns: 100%;
    }    
}

/*#############################################################################
Layout
#############################################################################*/
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.layout-content {
    flex: 1;
    padding-top: calc(var(--headerHeight) * 1.5);
}

.layout-scaffold {
    max-width: var(--layoutWidth);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--margin);
    padding-right: var(--margin);
    position: relative;
}

.layout-footer {
    color: var(--color-silver);
    height: var(--footerHeight);
    background-color: var(--color-black);
    padding: 40px 0 var(--margin);
    text-align: center;
}

.layout-footerLinks{
    display: none;
}

@media all and (min-width: 767px) {
    .layout-footerLinks {
        display: block;
    }    
}


/*#############################################################################
Pager
#############################################################################*/
.pager {
    display: table;
    width: 100%;
}

.pager-previous {
    display: table-cell;
    padding: var(--verticalRhythm) 0;
    width: 50%;
}

.pager-next {
    display: table-cell;
    padding: var(--verticalRhythm) 0;
    text-align: right;
    width: 50%;
}

/*#############################################################################
Post
#############################################################################*/
.post {
    position: relative;
    padding-bottom: calc(var(--verticalRhythm) * 2);
}

.post p {
    padding-top: var(--verticalRhythm);
}

.post-hero{
    width: 100%;
}

.post img {
    max-width: 100%;
}

.post-date {
    padding-top: calc(var(--verticalRhythm) / 2);
    font-size: 12px;
}

.post-tags {
    padding-top: var(--margin);
}

.post h1, 
.post h2, 
.post h3 {
    padding-top: var(--verticalRhythm);
}

/*#############################################################################
external theme overrides
#############################################################################*/
.hljs {
    padding: 2.5em !important; /* forced to use important here as hljs is self-injected later */
}