{{#extend "layout"}}

    {{#content "body"}}
        {{>post post}}

        {{#eq post.showTimeline true}}
            <div class="pager">
                <div class="pager-previous">
                    {{#if previousPost}}
                        Previous :
                        <a href="{{previousPost.url}}">{{previousPost.title}}</a>
                    {{/if}}
                </div>
                <div class="pager-next">
                    {{#if nextPost}}
                        Next : 
                        <a href="{{nextPost.url}}">{{nextPost.title}}</a>
                    {{/if}}
                </div>
            </div>        
        {{/eq}}
        
    {{/content}}

    {{#content "footer"}}
        {{>footer}}
    {{/content}}

{{/extend}}
